{% extends 'base.html' %}
{% block contents %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/top.css' %}">

<meta charset="UTF-8">
<title>tech_marathon</title>
<div class="bg_test" >
    
    <header class="header" >
        <h1 class="logo">○○さんのコース</h1>
        <h2 class="number">読んだ冊数12冊</h2>
    </header>
    <div class="grid">
        <div class="card">
            <img src="/static/images/a.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/b.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/c.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/d.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/e.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/f.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/g.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/h.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/i.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/j.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/k.jpg" height="150px" alt="" />
        </div>
        <div class="card">
            <img src="/static/images/l.jpg" height="150px" alt="" />
        </div>
    </div>
    
{% endblock %}
