{% extends 'base.html' %}
{% block contents %}
{% load static %}

<div>
    <h1>/   top</h1>
</div>
<p>{{ user.name }}</p>

{% for book in books %}
    <p>{{ book.title }}</p>
    {% for category in book.category.all %}
        <p>{{ category.name }}</p>
    {% endfor %}
{% endfor %}

<p>{{ books }}</p>
    
<link rel="stylesheet" href="{% static 'css/top.css' %}">

<div class="bg_test">

    <!--ヘッダー-->
    <div class="header">
        <h1 class="logo">{{ user.name }}さんのコース</h1>
        <h2 class="number">読んだ冊数</h2>
        <img src="stick-man-g87887191f_1280.png" width="100" alt="">
    </div>
    <!--ヘッダー　ここまで-->
    <!--メイン-->
    <!-- <div> -->
        <ul>
            <li>
                <image href="画像パス">
                <p>タイトル</p>
            </li>
            <li>
                <image href="画像パス">
                <p>タイトル</p>
            </li>
            <li>
                <image href="画像パス">
                <p>タイトル</p>
            </li>
            <li>
                <image href="画像パス">
                <p>タイトル</p>
            </li>
            <li>
                <image href="画像パス">
                <p>タイトル</p>
            </li>
        </ul>
        <ul>
            <li>
                <image href="画像パス">
                <p>タイトル</p>
            </li>
            <li>
                <image href="画像パス">
                <p>タイトル</p>
            </li>
            <li>
                <image href="画像パス">
                <p>タイトル</p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
